snippet f "function (anonymous)"
function(${1:argument}) {
	${0:// body...}
}
endsnippet

snippet fu "function (named)"
function ${1:function_name}(${2:argument}) {
	${0:// body...}
}
endsnippet

snippet loga "Log arguments"
console.log(arguments);
endsnippet

# vim:ft=snippets:
